<div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- User Profile Image -->
        <img src="{{ userDetails.profilePicture }}" alt="{{ userDetails.name }}" class="img-fluid rounded-circle mb-3">
        
        <!-- userDetails Profile Details -->
        <h4> Name : {{ userDetails.displayname }}</h4>
        <p> Email : {{ userDetails.email }}</p>
        <p> Id : {{ userDetails.id }}</p>
        <p> password : {{ userDetails.password }}</p>
        
      </div>
    </div>
</div>
  
